@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
        /* @apply font-[Anton]; */
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.profile-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 160px;
    width: 160px;
    border-radius: 50%
}
